*{
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 91vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: blueviolet;
}

button{
    cursor: pointer;
    background-color: white;
    color: blueviolet;
    margin-left: 35.5rem;
    height: 3rem;
    font-size: 21px;
    border: none;
    border-radius: 1rem;
}
button:hover{
    color: white;
    background-color: #0c05053b;
}
button:focus{
    outline: none;
}
div{
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
}
.newElement{
    height: 2.5rem;
    width: 7.5rem;
    background-color: white;
    border: none;
    padding-left: 5px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: display 1s;
}

h1{
    width: 100%;
    text-align: center;
}

.inActive{
    display: none;
}

